/** Button component styles */
@import 'styles/variables';

$sizes: (
  small: 30px,
  medium: 40px,
  large: 50px,
);

$themes: (
  grey: $colors-grey,
  blue: $colors-blue,
  green: $colors-green,
  orange: $colors-orange,
  red: $colors-red,
);

.button {
  $root: &;

  color: $colors-white;
  border-radius: 10px;

  outline: none;
  
  @each $name, $value in $sizes {
    &--size-#{$name} {
      height: $value;
    }
  }

  @each $name, $value in $themes {
    &--theme-#{$name} {
      background-color: $value;

      transition: background-color .3s ease-in-out;

      &:hover {
        background-color: darken($value, 10);
        cursor: pointer;
      }
    }
  }

  &:disabled {
    background-color: lighten(#6c757d, 15);

    &:hover {
      background-color: lighten(#6c757d, 15);
      cursor: default;
    }
  }
}