$colors--blue: #007bff;

$colors--red: #dc3545;

$colors--orange: #fd7e14;

$colors--yellow: #ffc107;

$colors--green: #28a745;

$colors--gray: #6c757d;
$colors--gray-dark: #343a40;

$colors--white: #fff;