/** Styles of styleguidist element */

.sg-section {
  border-radius: 10px;
  background-color: #f1f1f1;

  padding: 20px;
}

.sg-row {
  display: flex;
  flex-direction: column; 
}

.sg-mar-top-bot-10 {
  margin-top: 10px;
  margin-bottom: 10px;

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

.sg-pad-top-bot-10 {
  padding-top: 10px;
  padding-bottom: 10px;

  &:first-child { padding-top: 0; }
  &:last-child { padding-bottom: 0; }
}
